{% extends "layout.html" %}
{% block content %}

	<h1> Aims </h1>
	<div align='left'>
		<p>
		Food delivery is big business. While a large part of that is from meal delivery services like Seamless or GrubHub, online grocery sales are rapidly increasing too. In fact, according to a CNBC article from earlier this year, online grocery sales are set to grab 20% of the market by 2025 [1]. 
		</p>

		<p>
		Major players in this market include: Blue Apron, which delivers <i> ready to assenble </i> meals, Instacard which shops for you, and Amazon Fresh, Amazon's entry into grocery delivery services. It should also be noted that Amazon is making major waves with their recent acquisition of Whole foods for 13.4 billion [2].
		</p>
		
		<p>
		Looking at these sites, the major grocery delivery players all post recipes that you can then <i>buy</i> with a click. Similarly, they have hooks into recipe sharing sites and blogs so you can easily pick up what you need. But what if you’re just using the service for your weekly shop? What if you only needed a couple more things to turn that oatmeal you always buy into granola or those tomatoes into a homemade sauce? You might never know.
		</p>

		<p>
		For my project, I want to analyze grocery buying history and use that to suggest recipes. Maybe you’re an avocado nut, let’s find and suggest recipes that not only use avocados, but also other things you typically buy. Why? Because chances are you don’t have everything! Also, if you have most of the things you need, then it’s far easier for me to convince you to pick up that one extra thing for that recipe. Beyond financial gains, I think that this model could also be used to help drive down food waste. All too often, recipes call for some unusual ingredient of which you only use half. A reach goal of mine is to also formulate suggestions that maximally use the items in an order.
		</p>

		<ul style='list-style-type:none'>
			<li>[1] <a href="http://www.cnbc.com/2017/01/30/online-grocery-sales-set-surge-grabbing-20-percent-of-market-by-2025.html">http://www.cnbc.com/2017/01/30/online-grocery-sales-set-surge-grabbing-20-percent-of-market-by-2025.html</a></li>

			<li>[2] <a href="https://www.nytimes.com/2017/06/16/business/dealbook/amazon-whole-foods.html">https://www.nytimes.com/2017/06/16/business/dealbook/amazon-whole-foods.html</a></li>
		</ul>
	</div>

{% endblock %}